<div class="menu">
  <nav>
    <ul>
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/currency">Currency</a></li>
      <li><a routerLink="/graph">Graph</a></li>
      <li><a href="#">Contacts</a></li>
    </ul>
  </nav>
</div>
<div class="container">
  <div class="content">


    <router-outlet/>
<!--    <h1><app-home-page/> </h1>-->
    <p>
      Lorem ipsum, dolozzr sit amet consectetur adipisicing elit. Corrupti eius, expedita nisi eos consequuntur ipsum
      natus repudiandae asperiores dolorum ex provident mollitia, odit veritatis esse cum aliquam veniam facilis culpa.
      Odio maxime corporis vero voluptatum nemo earum architecto nulla vel?
    </p>
  </div>

</div>
