<div class="btn-group">
  <a routerLink="/graph" class="btn btn-primary">Back Graph</a>
</div>
<input type="text" #oznakaInput placeholder="Oznaka">
<button (click)="listenClick(oznakaInput.value)">Get graph for weak</button>

<div  >
  <br>
  <br>
  <br>
  <div>
    <canvas id="allBar">{{chartBar}}</canvas>
  </div>
  <br>
  <br>
  <br>
  <div>
    <canvas id="allLine">{{chartLine}}</canvas>
  </div>
  <br>
  <br>
  <br>
  <div>
    <canvas id="allBubble">{{chartBubble}}</canvas>
  </div>
</div>




