<h3> {{title}}</h3>
<div class="containerr">

  <div class="btn-group">
    <a routerLink="/graph" class="btn btn-primary">Back Graph</a>
  </div>
  <div class="scond-button">
    <input class="input-group-text" type="text" #oznakaInput placeholder="Oznaka">
    <button class="btn-text" (click)="listenClick(oznakaInput.value)">Get graph for weak</button>

  </div>
  <div>
    <br>
    <br>
    <br>
    <div>
      <canvas id="allBubble">{{chartBar}}</canvas>
    </div>
    <br>
    <br>
    <br>
    <div>
      <canvas id="allLine">{{chartLine}}</canvas>
    </div>
    <br>
    <br>
    <br>
    <div>
      <canvas id="allBar">{{chartBubble}}</canvas>
    </div>
  </div>





</div>
