<h2>WELCOME TO {{title}}</h2>

<div class="btn-group">
  <a routerLink="graph/week-graph" class="btn btn-primary" aria-current="page">Week Grap</a>
  <a routerLink="graph/month-graph" class="btn btn-primary">Month Graph</a>
  <a routerLink="graph/year-graph" class="btn btn-primary">Year Graph</a>
  <a routerLink="graph/five-year-graph" class="btn btn-primary">Five Year Graph</a>
  <a routerLink="graph/all-time-graph" class="btn btn-primary">All Time Graph</a>
</div>
<router-outlet></router-outlet>
